@{
    ViewData["Title"] = "Kuwadro";
}

<!--hero section-->
<div class="banner">
    <div class="d-flex align-items-center h-100">
        <div class="col-md-5 p-lg-5 mx-auto">
            <h1 class="display-5">Get the best art in x location</h1>
            <div>
                <button type="button" class="btn btn-primary">Discover Art</button>
                <button type="button" class="btn btn-secondary">Sign Up</button>
            </div>
        </div>
    </div>
</div>

<!--recommendation section -->
<section class="">
    <div class="container">
        <div class="recomendations bg-white py-1 rounded-top rounded-3">
            <div class="mt-4">
                <div class="row">
                    <h6 class="col-4 h5">Featured Art</h6>
                    <h6 class="col-4 offset-4 text-end h6">see more</h6>
                </div>
                <div class="scrolling-wrapper">
                    <div class="card">
                        <img class="card-img"
                             src="./assets/EhkLIj2XkAAkJzo.jpg"
                             alt="idek" />
                        <div class="
                    card-img-overlay
                    text-white
                    d-flex
                    flex-column
                    justify-content-center
                  ">
                            <h4 class="card-title">Wife</h4>
                            <h6 class="card-subtitle mb-2">By Hololive</h6>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img"
                             src="./assets/2048px-Unofficial_JavaScript_logo_2.svg.png"
                             alt="idek" />
                        <div class="
                    card-img-overlay
                    text-white
                    d-flex
                    flex-column
                    justify-content-center
                  ">
                            <h4 class="card-title">JS</h4>
                            <h6 class="card-subtitle mb-2">By Brendan Eich</h6>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img"
                             src="./assets/Kushina-Uzumaki-yui1234-41391359-400-400.jpg"
                             alt="idek" />
                        <div class="
                    card-img-overlay
                    text-white
                    d-flex
                    flex-column
                    justify-content-center
                  ">
                            <h4 class="card-title">Mommy</h4>
                            <h6 class="card-subtitle mb-2">By Kishimoto</h6>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img"
                             src="./assets/Kushina-Uzumaki-yui1234-41391359-400-400.jpg"
                             alt="idek" />
                        <div class="
                    card-img-overlay
                    text-white
                    d-flex
                    flex-column
                    justify-content-center
                  ">
                            <h4 class="card-title">Mommy</h4>
                            <h6 class="card-subtitle mb-2">By Kishimoto</h6>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img"
                             src="./assets/Kushina-Uzumaki-yui1234-41391359-400-400.jpg"
                             alt="idek" />
                        <div class="
                    card-img-overlay
                    text-white
                    d-flex
                    flex-column
                    justify-content-center
                  ">
                            <h4 class="card-title">Mommy</h4>
                            <h6 class="card-subtitle mb-2">By Kishimoto</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--footer-->