
.banner {
    height: 65vh;
    background: url("./assets/s3vyk6c9fsp51.png") no-repeat center;
    background-size: cover;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}

    .scrolling-wrapper::-webkit-scrollbar {
        display: none;
    }

    .scrolling-wrapper > .card {
        width: 300px;
        height: 300px;
        display: inline-block;
    }

.recomendations {
    margin-top: -8vh;
}

