*{
    margin: 0;
}

body {
    font-family: 'Saira Semi Condensed';
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: #2b2b2b;
}

.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
}

.logo-container{
    flex: 2;
}

.logo{
    font-size: 30px;
    color: beige;
    cursor: pointer;
}

.menu-container{
    flex: 5;
}

.menu-list{
    display: flex;
    list-style: none;
    cursor: pointer;
}

.menu-item{
    margin-right: 30px;
}
.menu-item.home{
    font-weight: bold;
}

.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.profile-text{
    margin: 0 20px;
}

.profile-pic{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.toggle{
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.toggle-icon{
    color: goldenrod;
}

.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: #151515;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s ease all;
}

.container{
    background-color: #2b2b2b;
    min-height: calc(100vh - 50px);
    color: white;
}

.content-container{
    margin-left: 0;/*can be 100px+*/
}

.featured-content{
    height: 50vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0),#2b2b2b),url(images/img-1.jpg);
    /*might remove gradient*/
    padding: 50px;
    background-position: center center;
}

@keyframes slide{
    0%{background-image: url(images/img-1.jpg);}
    40%{background-image: url(images/img-2.jpg);}
    80%{background-image: url(images/img-3.jpg);}
}

.featured-title{
    width: 200px;
    align-items: center;
    margin-left: 45%;
    margin-top: 10%;
}

.featured-title h1{
    font-size: 50px;
}
.feat-desc{
    width: 500px;
    color: lightgray;
    margin: 30px 0;
}

.discover{
    background-color: cadetblue;
    color: #2b2b2b;
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    outline: none;
    font-weight: bold;
}
.sign-up{
    background-color: lightcoral;
    color: #2b2b2b;
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    outline: none;
    font-weight: bold;
}

/* Hover btns effect here*/
.discover:hover{
    background-color: rgb(86, 144, 146);
    cursor: pointer;
}
.sign-up:hover{
    background-color: rgb(218, 114, 114);
    cursor: pointer;
}
.art-list-container{
    margin-left: 37px;
    padding: 20px;
}

.art-list-wrapper{
    position: relative;
    overflow: hidden;
}

.art-list{
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.art-list-item{
    margin-right: 30px;
    position: relative;
}

.art-list-item:hover .art-list-item-img{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}

.art-list-item:hover .art-list-item-title,
.art-list-item:hover .art-list-item-btn{
    opacity: 1;
}

.art-list-item-img{
    width: 270px;
    height: 200px;
    object-fit: cover;
    border-radius: 7px;
    transition: all .3s ease-in-out;

}
.art-list-item-title{
    background-color: #333;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: .3s all ease-in-out;
}
.art-list-item-btn{
    padding: 10px;
    background-color: lightcoral;
    color: black;
    border-radius: 7px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left:50px;
    opacity: 0;
    transition: .3s all ease-in-out;
}
/*btn hover*/
.art-list-item-btn:hover{
    background-color: rgb(204, 109, 109);
}

#right-arrow{
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0;
    color: lightgray;
    opacity: .5;
    cursor: pointer;
}


/*light mode toggle*/
.container.active{
    background-color: beige;
}

.featured-content.acive{
    background: url(images/img-1.jpg);
}

.art-list-title.active{
    color: black;
}


.navbar-container.active{
    background-color: beige;
    color: black;
}

.logo.active{
    color: black;
}

.toggle.active{
    background-color: #151515;
}

.toggle-ball.active{
    background-color: beige;
    transform: translateX(-20px);
}

@media only screen and (max-width: 940px){
    .menu-container{
        display: none;
    }
}